[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/jarodlam/hyde.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/jarodlam/cookbook.git
	branch = master
